# geomagneticd
type geomagneticd, domain;
type geomagneticd_exec, exec_type, file_type;

init_daemon_domain(geomagneticd)

# the sensor is an input device
allow geomagneticd input_device:chr_file rw_file_perms;
allow geomagneticd input_device:dir r_dir_perms;

# store/read calibration data
allow geomagneticd sensors_data_file:dir w_dir_perms;
allow geomagneticd sensors_data_file:file create_file_perms;

# read/write calibration offsets
# TODO: create own label
allow geomagneticd sysfs:dir r_dir_perms;
allow geomagneticd sysfs:file rw_file_perms;
