# allow insmod
allow init kernel:system module_request;
allow init self:capability sys_module;

# chmod/chown rfkill device
allow init sysfs_bluetooth_writable:file getattr;

# allow creating /sdcard symlink
allow init tmpfs:lnk_file create;

# Allow restorecon
allow init debugfs_trace_marker:file getattr;
