allow system_server self:capability sys_module;

allow system_server gps_data_file:dir search;
allow system_server gps_data_file:fifo_file { write read open setattr };

allow system_server efs_file:dir search;
