on post-fs-data
    mkdir /data/sensors 0770 system system

    chown system input /sys/class/input/input2/enable
    chown system input /sys/class/input/input2/poll_delay

    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/poll_delay

    chown system input /sys/class/input/input2/enable
    chown system input /sys/class/input/input2/delay
    chown system input /sys/class/input/input2/wake

    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/delay
    chown system input /sys/class/input/input3/filter_enable
    chown system input /sys/class/input/input3/filter_len
    chown system input /sys/class/input/input3/data
    chown system input /sys/class/input/input3/status
    chown system input /sys/class/input/input3/wake
    chown system input /sys/class/input/input3/position

    chown compass input /sys/class/input/input3/offsets
    chown compass input /sys/class/input/input3/dynamic_matrix
    chown system input /sys/class/input/input3/threshold
    chown system input /sys/class/input/input3/distortion
    chown system input /sys/class/input/input3/shape
    write /sys/class/input/input3/distortion "500 350 15"

    chown system input /sys/class/input/input4/enable
    chown system input /sys/class/input/input4/delay
    chown system input /sys/class/input/input4/filter_enable
    chown system input /sys/class/input/input4/filter_len
    chown system input /sys/class/input/input4/data
    chown system input /sys/class/input/input4/status
    chown system input /sys/class/input/input4/wake
    chown system input /sys/class/input/input4/position

    chown compass input /sys/class/input/input4/offsets
    chown compass input /sys/class/input/input4/dynamic_matrix
    chown system input /sys/class/input/input4/threshold
    chown system input /sys/class/input/input4/distortion
    chown system input /sys/class/input/input4/shape
    write /sys/class/input/input4/distortion "500 350 15"

    chown system input /sys/class/input/input5/enable
    chown system input /sys/class/input/input5/delay
    chown system input /sys/class/input/input5/filter_enable
    chown system input /sys/class/input/input5/filter_len
    chown system input /sys/class/input/input5/data
    chown system input /sys/class/input/input5/status
    chown system input /sys/class/input/input5/wake
    chown system input /sys/class/input/input5/position

    chown compass input /sys/class/input/input5/offsets
    chown compass input /sys/class/input/input5/dynamic_matrix
    chown system input /sys/class/input/input5/threshold
    chown system input /sys/class/input/input5/distortion
    chown system input /sys/class/input/input5/shape
    write /sys/class/input/input5/distortion "500 350 15"

    chown system input /sys/class/input/input6/enable
    chown system input /sys/class/input/input6/delay
    chown system input /sys/class/input/input6/filter_enable
    chown system input /sys/class/input/input6/filter_len
    chown system input /sys/class/input/input6/data
    chown system input /sys/class/input/input6/status
    chown system input /sys/class/input/input6/wake
    chown system input /sys/class/input/input6/position

    chown compass input /sys/class/input/input6/offsets
    chown compass input /sys/class/input/input6/dynamic_matrix
    chown system input /sys/class/input/input6/threshold
    chown system input /sys/class/input/input6/distortion
    chown system input /sys/class/input/input6/shape
    write /sys/class/input/input6/distortion "500 350 15"

    chown system input /sys/class/input/input7/enable
    chown system input /sys/class/input/input7/delay
    chown system input /sys/class/input/input7/filter_enable
    chown system input /sys/class/input/input7/filter_len
    chown system input /sys/class/input/input7/data
    chown system input /sys/class/input/input7/status
    chown system input /sys/class/input/input7/wake
    chown system input /sys/class/input/input7/position

    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name

    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name

    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name

    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name

service orientationd /system/bin/orientationd
    class main
    user compass
    group input

service geomagneticd /system/bin/geomagneticd
    class main
    user compass
    group system input
